@model IEnumerable<LaunchPad.Models.Category>

@{
    ViewData["Title"] = "Categories";
}

<h2>Script Categories</h2>

<p>
    <a asp-action="CategoryCreate">New Category</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="CategoryEdit" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
        </tr>
}
    </tbody>
</table>
