
@{
    ViewData["Title"] = "Admin";
}

<br />
<div class="row">
    <div class="col-xs-12 col-md-5 col-md-push-1">
        <div class="well">
            <div class="pad-all text-center">
                <span class="text-2x text-thinr">
                    <span class="glyphicon glyphicon-user"></span>
                    Users
                </span>
                <p></p>
                <a class="btn btn-info btn-sm text-uppercase" asp-action="UserList"> Admin</a>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-5 col-md-push-1">
        <div class="well">
            <div class="pad-all text-center">
                <span class="text-2x text-thin">
                    <span class="glyphicon glyphicon-list-alt"></span>
                    Categories
                </span>
                <p></p>
                <a class="btn btn-info btn-sm text-uppercase" asp-action="CategoryList"> Admin</a>
            </div>
        </div>
    </div>
</div>






