@model AdminViewModel

@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <h2 class="col-xs-6">Edit User</h2>
    <h2 class="col-xs-6"><a class="btn btn-danger pull-right" asp-action="UserDisable" asp-route-id="@Model.User.Id">Disable</a></h2>
</div>



<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UserEdit" asp-method="Post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="User.Id" />
            <div class="form-group">
                <label asp-for="User.Username" class="control-label"></label>
                <input asp-for="User.Username" class="form-control" />
                <span asp-validation-for="User.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.UserRoles" class="control-label">Roles</label>
                <select asp-for="SelectedRoles" asp-items="@Model.AvailableRoles" class="multiselect"></select>
                <span asp-validation-for="User.UserRoles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="UserList">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/bootstrap-multiselect/dist/js/bootstrap-multiselect.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.multiselect').multiselect({
                buttonWidth: '100%',
                enableFiltering: true,
                enableCaseInsensitiveFiltering: true,
                includeSelectAllOption: true,
                buttonClass: 'btn btn-primary'                
            });
        });
    </script>
}
