################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LaunchPad/wwwroot/lib
/LaunchPad/bin/Debug/net452/win7-x86
/LaunchPad/obj
/LaunchPad/Data/Migrations
