@model EditUserViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>@Html.DisplayFor(model => model.User.UserName)</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="User.Id" />


        <div class="form-group">
            <label asp-for="User.UserName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="User.UserName" class="form-control" />
                <span asp-validation-for="User.UserName" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="User.Email" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="User.Email" class="form-control" />
                <span asp-validation-for="User.Email" class="text-danger" />
            </div>
        </div>


        <div class="form-group">
            <label asp-for="User.PhoneNumber" class="col-md-2 control-label">Phone Number</label>
            <div class="col-md-10">
                <input asp-for="User.PhoneNumber" class="form-control" />
                <span asp-validation-for="User.PhoneNumber" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="User.LockoutEnabled" />
                    <label asp-for="User.LockoutEnabled">Enable Lockout</label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="SelectedRoles" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @Html.ListBoxFor(model => model.SelectedRoles, new SelectList(ViewBag.AllRoles, "Id", "Name"), new { @class = "multiselect" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script type="text/javascript">
        $(document).ready(function () {
            $('.multiselect').multiselect({
                maxHeight: 200,
                enableFiltering: true,
                enableCaseInsensitiveFiltering: true
            });
        });
    </script>
}
