@model LaunchPad.Models.Job

@*ToDo: Check if null!*@

<div id="Outcome" style="height:250px; margin: -15px -15px 0 -15px;">
    @Html.DisplayFor(model => model.Outcome)
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>


<script src="~/lib/ace-builds/src-min/ace.js"></script>
<script>
    var editor = ace.edit("Outcome");
    editor.setOptions({
        readOnly: true,
        wrap: true
    });
    editor.setHighlightActiveLine(false);
    editor.setTheme("ace/theme/tomorrow_night_blue"); //chrome|clouds|sqlserver
    
    @if (Model.Status == Status.Completed)
    {
        //Only uses PowerShell mode when job has completed
        @:editor.getSession().setMode("ace/mode/powershell");
    }

</script>
