@model LaunchPad.Models.Job

@*ToDo: Check if null!*@

<pre>
@Html.DisplayFor(model => model.Outcome)
</pre>

<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>